<!-- con el extend le damos la direccion donde tenemos nuestra 'herencia template' -->
{% extends 'core/base.html'%}

<!-- este block añade metadatos cambiantes en el titulo de cada pagina (incerta el texto)-->
{% block title %} Portada {% endblock %} 
 
{% block background %}{% load static %}{% static 'core/img/home-bg.jpg'%}{% endblock %}

{% block headers %}
<h1>Leonardo Peña </h1>
<span class="subheading">Ingeniero Civil Computación/Informática</span>
{% endblock %}

<!-- ponemos el codgigo html entre los blockes que contendran nuestra base.html -->
{% block content%} 

{% endblock %}
    